<header>
    <section>
        <div>
            <h1>Galina</h1>
        </div>
        <nav>
            <a href="#about-me">About me</a>
            <a href="#skills">Skills</a>
            <a href="#portfolio">Portfolio</a>
            <a href="#contact">Contact</a>
            <div class="clr-form-control">
                <div class="clr-control-container">
                    <div class="clr-toggle-wrapper">
                        <input type="checkbox" id="toggle" name="language-switcher" class="clr-toggle">
                        <label for="toggle" class="option" id="label-de">DE</label>
                        <label for="toggle" class="option" id="label-en">EN</label>
                        <div class="slider"></div>
                    </div>
                </div>
            </div>
        </nav>
    </section>
</header>