header {
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    z-index: 1;
    background-color: #141D2F;

    a {
        text-decoration: none;
    }
}

h1 { font-size: 24px;}

section {
    width: 100%;
    max-width: 1920px;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;

    a {
        position: relative;
        color: white;
        text-decoration: none;
        margin: 15px;
        transition: color 0.3s;
        font-size: 23px;

        &::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: -5px;
            width: 0;
            height: 2px;
            background-color: #9747FF;
            transition: width 0.4s ease, left 0.4s ease;
        }

        &:hover {
            color: #70E61C;

            &::after {
                width: 100%;
                left: 0;
            }
        }
    }

    img {
        width: 28px;
        height: auto;
        margin-left: 10px;
        transition: transform 0.3s;
        cursor: pointer;

        &:hover {
            transform: scale(1.2);
        }
    }
}

.clr-toggle-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid #9747FF;
    border-radius: 20px;
    width: 80px;
    height: 36px;
    overflow: hidden;
    cursor: pointer;

    &:hover {
        border: 2px solid #70E61C;
    }
}

.clr-toggle {
    display: none;
}

.option {
    flex: 1;
    color: #70E61C;
    text-align: center;
    line-height: 36px;
    font-size: 14px;
    cursor: pointer;

    &:hover {
        color: #70E61C;
    }
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(151, 71, 255, 0.7);
    transition: left 0.3s ease;
    border-radius: 20px;
}

.clr-toggle:checked~.slider {
    left: 50%;
}