<section>
    <div class="left-content">Platzhalter</div>
    <div class="right-content-wrapper">
        <div class="middle-content">
            <span>I am</span>
        </div>

        <div class="right-content">
            <div class="text-content">
                <span class="name-style">Galina Antipin</span>
                <span class="front-end">FRONTEND DEVELOPER</span>
                <button>Let's talk!</button>
            </div>
        </div>
    </div>

</section>
<div class="left-line-container">
    <div class="left-line"></div>
        <img src="./../../../assets/img/github-icon.png" alt="GitHub Icon">
        <img src="./../../../assets/img/mail-icon.png" alt="E-Mail Icon">
        <img src="./../../../assets/img/linkedIn-icon.png" alt="LinkedIn Icon">
        <a href="#contact">galina.antipin&#64;gmail.com</a>
</div>