section {
    margin-top: 100px;
    max-width: 1920px;
    width: 100%;
    scroll-margin-top: 120px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(./../../../assets/img/purple-shadow.png), url(./../../../assets/img/green-shadow.png);
    background-position: left -20% top 80%, left 160% top 99%;;
    background-size: 50%;
    background-repeat: no-repeat, no-repeat;
}

.hero-wrapper {
    background-position: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8%;
    margin-right: 8%;
    width: 84%;
    margin-bottom: 10%;
    margin-top: 10%;
}

.right-content-wrapper {
    display: flex;
}

.right-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

.middle-content {
    display: flex;
    font-size: clamp(4.6rem, .6343430034rem + 3.3105802048vw, 3.8125rem);

    span {
        transform: rotate(-90deg);
        color: white;
        display: inline-block;
    }
}

.name-style {
    font-size: clamp(5.875rem, .4432593857rem + 4.0955631399vw, 4.375rem);
    font-weight: 700;
    color: white;
    width: 100%;
    white-space: nowrap;
}

.front-end {
    font-size: clamp(2rem, .1761945392rem + 3.0716723549vw, 3.125rem);
    color: #9747FF;
    width: 100%;
    white-space: nowrap;
    margin-bottom: 1%;
}

.text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-line-container {
    display: flex;
    align-items: center;
    gap: 1%;
    width: 100%;

    img {
        transition: transform 0.3s;
        cursor: pointer;

        &:hover {
            transform: scale(1.2);
        }
    }

    a {
        text-decoration: none;
        color: white;
        font-size: 23px;
    }
}
