section {
    margin-top: 100px;
    max-width: 1920px;
    width: 100%;
    scroll-margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.hero-wrapper {
    display: flex;
    margin-left: 8%;
    margin-right: 8%;
}

.left-content {
    width: 400px;
}

.right-content-wrapper {
    display: flex;
}

.right-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    flex: 1;
}

.middle-content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-size: clamp(2.6rem, .6343430034rem + 3.3105802048vw, 3.8125rem);
    margin-right: 3%;

    span {
        transform: rotate(-90deg);
    }
}

.name-style {
    font-size: clamp(2.875rem, .4432593857rem + 4.0955631399vw, 4.375rem);
    font-weight: 700;
    color: white;
    width: 100%;
}

.front-end {
    font-size: clamp(2rem, .1761945392rem + 3.0716723549vw, 3.125rem);
    color: #9747FF;
    width: 100%;
}

.text-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
        margin-top: 10px;
        padding: 10px 20px;
        background-color: #70E61C;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        width: 20%;
        font-size: clamp(1.125rem, 1.0427631579rem + .4111842105vw, 1.4375rem);

        &:hover {
            background-color: #9747FF;
            transform: scale(1.05);
        }
    }
}

.left-line {
    width: clamp(30px, 8.9473684211px + 6.5789473684vw, 110px);
    background-color: #9747FF;
    height: 4px;
}

.left-line-container {
    display: flex;
    align-items: center;
    gap: 1%;
    width: 100%;

    img {
        transition: transform 0.3s;
        cursor: pointer;

        &:hover {
            transform: scale(1.2);
        }
    }

    a {
        text-decoration: none;
        color: white;
        font-size: 23px;
    }
}