<section>
    <div class="hero-wrapper">
        <div class="left-content">Platzhalter</div>
        <div class="right-content-wrapper">
            <div class="middle-content">
                <span>I am</span>
            </div>
            <div class="right-content">
                <div class="text-content">
                    <div class="name-style"><span>Galina Antipin</span></div>
                    <span class="front-end">FRONTEND DEVELOPER</span>
                    <button><a href="#contact"></a>Let's talk!</button>
                </div>
            </div>
        </div>
    </div>

    <div data-aos=”fade-left” class="left-line-container">
        <div class="left-line"></div>
        <img src="./../../../assets/img/github-icon.png" alt="GitHub Icon">
        <img src="./../../../assets/img/mail-icon.png" alt="E-Mail Icon">
        <img src="./../../../assets/img/linkedIn-icon.png" alt="LinkedIn Icon">
        <a href="#contact">galina.antipin&#64;gmail.com</a>
    </div>
</section>