<section>
    <div class="hero-wrapper">
        <div class="middle-content">
            <span>I am</span>
        </div>
        <div class="right-content">
            <div class="text-content">
                <div class="name-style"><span>Galina Antipin</span></div>
                <span class="front-end">FRONTEND DEVELOPER</span>
                <a href="#contact"><button>Let's talk!</button></a>
            </div>
        </div>
    </div>

    <div data-aos=”fade-left” class="left-line-container">
        <div class="left-line"></div>
        <a href="https://github.com/galina-antipin"> <img src="./../../../assets/img/github-icon.png"
                alt="GitHub Icon"></a>
        <a href="#contact"><img src="./../../../assets/img/mail-icon.png" alt="E-Mail Icon"></a>
        <img src="./../../../assets/img/linkedIn-icon.png" alt="LinkedIn Icon">
        <a href="#contact">galina.antipin&#64;gmail.com</a>
    </div>
</section>