<section>
    <div class="skills-wrapper">
        <div class="left-content" data-aos=”fade-left”>
            <img src="./../../../assets/img/angular-icon.png" alt="Angular Icon">
            <img src=".//../../../assets/img/typescript-icon.png" alt="TypeScript Icon">
            <img src="./../../../assets/img/javascript-icon.png" alt="JavaScript Icon">
            <img src="./../../../assets/img/firebase-icon.png" alt="Firebase Icon">
            <img src="./../../../assets/img/git-icon.png" alt="Git Icon">
            <img src="./../../../assets/img/scrum-icon.png" alt="Scrum Icon">
            <img src="./../../../assets/img/css-icon.png" alt="CSS Icon">
            <img src="./../../../assets/img/html-icon.png" alt="HTML Icon">
            <img src="./../../../assets/img/restapi-icon.png" alt="RestApi Icon">
            <img class="svg-icon" src="./../../../assets/img/study-icon.svg" alt="Study Icon">
        </div>
        <div data-aos=”fade-right” class="right-content">
            <div class="my-skills-content">
                <h1>Skills</h1>
                <p>Missing any skills? <br>
                    I'm always up for learning new tech to level up my knowledge. </p>
                <button>Get in touch</button>
            </div>

        </div>
        <div class="right-line"></div>
    </div>
</section>