section {
    margin-top: 100px;
    max-width: 1920px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
        height: 60px;
        width: auto;
        margin-left: 5%;
        transition: transform 0.3s;

        &:hover {
            transform: scale(1.2);
        }
    }

    span {
        color: white;
    }
}

.skills-wrapper {
    display: flex;
}

.left-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px clamp(60px, 11.3651877133px + 5.1194539249vw, 90px);
    max-width: 60%;
}

.right-line {
    width: clamp(30px, 8.9473684211px + 6.5789473684vw, 110px);
    background-color: #9747FF;
    height: 4px;
}

.right-content {
    display: flex;
    align-items: center;
    width: 40%;
}