section {
    margin-top: 100px;
    max-width: 1920px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
        height: 60px;
        width: auto;
        margin-left: 5%;
        transition: transform 0.3s;

        &:hover {
            transform: scale(1.2);
    }}

    span {
        color: white;
    }
}

.left-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px clamp(60px, 11.3651877133px + 5.1194539249vw, 90px);
    max-width: 60%;
}


