<div class="portfolio-headline">
    <div class="left-line"></div>
    <h1>Portfolio</h1>
    <div class="right-line"></div>
</div>

<section> 
    <span>Explore a selection of my work here - Interact with projects to see my skills in action. </span>
    <div class="portfolio-wrapper">

        <div class="left-content">
            <p>Join</p>
            <h3>JavaScript | Firebase | HTML | CSS</h3>
            <span> Task Manager inpired by the Kanban System. Create and organize tasks using drag and drop functions,
                assign users and categories. </span>
            <div class="button-section"> <button>Live test</button>
                <button>GitHub</button>
            </div>
        </div>
        <div class="right-content">
            <img src="./../../../assets/img/join.png" alt="Join Project">
        </div>
    </div>

    <div class="portfolio-wrapper">

        <div class="left-content">
            <p>Join</p>
            <h3>JavaScript | Firebase | HTML | CSS</h3>
            <span> Task Manager inpired by the Kanban System. Create and organize tasks using drag and drop functions,
                assign users and categories. </span>
            <div class="button-section"> <button>Live test</button>
                <button>GitHub</button>
            </div>
        </div>
        <div class="right-content">
            <img src="./../../../assets/img/join.png" alt="Join Project">
        </div>
    </div>

    <div class="portfolio-wrapper">

        <div class="left-content">
            <p>Join</p>
            <h3>JavaScript | Firebase | HTML | CSS</h3>
            <span> Task Manager inpired by the Kanban System. Create and organize tasks using drag and drop functions,
                assign users and categories. </span>
            <div class="button-section"> <button>Live test</button>
                <button>GitHub</button>
            </div>
        </div>
        <div class="right-content">
            <img src="./../../../assets/img/join.png" alt="Join Project">
        </div>
    </div>

</section>